{% extends "index.html.twig" %}
{% block main %}
    <h2>Создание поста</h2>
    {% if warning == 0 %}
    {% elseif warning == 1 %}
        {% if warning == '' %}
        {% else %}
            <div class="alert alert-primary" role="alert">
                Пост опубликован. <br> <a class="nav-link" href='user/{{ id }}'>Вернуться на домашнюю страницу</a>
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-danger" role="alert">
            Пост с таким названием уже существует. Пожалуйста, придумайте другое название.
        </div>
    {% endif %}
    <form action="createPost.php" method="post">
        <div class="form-group">
            <label for="title">Название</label>
            <input name="title" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Текст</label>
            <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="20"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" name="sub" value="Publish">
    </form>
{% endblock %}