{% extends "index.html.twig" %}
{% block head %}
{% endblock %}
{% block main %}
    Ваше имя: {{ name }} <br>
    Ваш email: {{ email }} <br>
    Количество ваших постов: {{ postCount }} <br>

    <a href="/create">Создать пост</a> <br>
    <a href="{{ id }}/posts">Ваши посты</a>
{% endblock %}